<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-pic">
    <img src="../../../assets/perfil1.png" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 personal-data-wr">
    <span class="name">Franco Leyes </span>
    <span class="title">Full Stack Developer Jr</span>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 description-wr">
    <p class="description">Soy un desarrollador Full Stack apasionado por la innovación tecnológica y la creación digital al que le encanta
      aprender cosas nuevas.</p>
  </div>
</div>