<div class="bg-black d-flex align-items-center justify-content-between">
  <img src="../../../assets/ap.png" alt="404 Not Found" id="ap-logo" />
  <div>
    <h1 class="welcome-msg">Hello World</h1>
  </div>
  <div>
    <img src="../../../assets/Octicons-mark-github.svg" alt="404 Not Found" id="gh-logo" />
    <img src="../../../assets/linkedin.svg" alt="404 Not Found" id="ln-logo" />
    <button class="login-button" routerLink="/login" *ngIf="!isLogged">Ingresar</button>
    <button class="login-button" (click)="onLogOut()" routerLink="/login" *ngIf="isLogged">Cerrar Sesion</button>
  </div>
</div>