<form #f="ngForm" (ngSubmit)="createProject()" novalidate>
  <div class="card-wr">
    <div class="top-card-wr">
      <input class="project" name="project" [(ngModel)]="project" placeholder="Proyecto" />
      <input class="period" name="period" [(ngModel)]="period" placeholder="Periodo" />
    </div>
    <textarea class="description" name="description" [(ngModel)]="description" placeholder="Descripcion"></textarea>
    <input type="file" accept="image/*" (change)="uploadImg($event)" />
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let img of images">
      <img src="{{img}}" class="img-fluid" alt="">
    </div>
    <div class="btn-wr">
      <button type="submit" class="submit-button">Agregar</button>
    </div>
  </div>
</form>