.card-wr {
  color: #4d6278;
  width: 77%;
  height: fit-content;
  list-style: none;
  padding: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 2.7rem;
  background-color: #333d52;
  border-radius: 10px;
  margin-top: 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.top-card-wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;

}

.project,
.period {
  color: black;
  font-family: var(--titles-font);
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
  border: none;
  border-radius: 2px;
}

.description {
  color: black;
  font-family: var(--text-font);
  font-size: 1.25rem;
  padding: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100%;
  border: none;
  margin-top: 2rem;
  border-radius: 2px;
  resize: none;
}

.submit-button {
  font-family: var(--titles-font);
  background: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: none;
  color: black;
  padding: 1rem;
  border-radius: 2px;
  width: 15%;
  background-color: white;
}

.btn-wr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.label {
  margin-top: 1rem;
  cursor: pointer;
}

.label>img {
  width: 4rem;
  height: 4rem;
}

.label:hover {
  transform: scale(1.05) translateX(10px);
}

.label>input {
  visibility: hidden;
}

.label>span {
  font-family: var(--text-font);
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  border-radius: 4px;
}

@media screen and (max-width: 1600px) {
  .top-card-wr {
    width: 100%;
  }

  .description {
    height: 100%;
  }

  .edit-button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .project {
    font-size: 1.5rem;
  }

  .period {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .edit-icon {
    height: 1.5rem;
  }

  .submit-button {
    width: 40%
  }
}

@media screen and (max-width: 1250px) {
  .top-card-wr {
    flex-wrap: wrap;
  }

  .project {
    width: 100%;
    margin-bottom: 1rem;
  }

  .period {
    width: 100%;
  }

  .card-wr {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .submit-button {
    width: 65%;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .section-wr {
    width: 100%;
  }

  .period {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  h1 {
    justify-content: center;
    font-size: 1.5rem;
  }

  .project {
    font-size: 1.25rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .addButton {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 370px) {
  label {
    width: 100%;
  }
  .label img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .label span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 370px) {
  .card-wr {
    width: 100%;
  }
  label img {
    display: block;
    margin: auto;
  }
  label span {
    display: block;
    text-align: center;
  }
}