.section-wr {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: auto;
}

.row {
  padding: 30px;
}

h1 {
  font-weight: var(--titles-weight);
  font-family: var(--titles-font);
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-top: 2rem;
}

li {
  color: #4d6278;
  width: var(--cards-width);
  height: fit-content;
  list-style: none;
  padding: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 2.7rem;
  background-color: #333d52;
  border-radius: 10px;
  float: right;
}

.top-card-wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

.institution,
.title,
.period {
  color: var(--cards-letters-color);
  font-family: var(--titles-font);
  font-size: 1.5rem;
  font-weight: 500;
}

.title {
  font-size: 1.8rem;
}

.description {
  color: var(--cards-letters-color);
  font-family: var(--text-font);
  font-size: 1.25rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.addButton {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: none;
  border-radius: 2px;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}


.edit-institution,
.edit-study,
.edit-period {
  color: black;
  font-family: var(--titles-font);
  font-size: 1.5rem;
  font-weight: 500; 
  padding-left: 1rem;
  border: none;
  border-radius: 2px;
}

.edit-description {
  color: black;
  font-family: var(--text-font);
  font-size: 1.25rem;
  padding: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100%;
  border: none;
  margin-top: 2rem;
  border-radius: 2px;
  resize: none;
}

.submit-button {
  font-family: var(--titles-font);
  background: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: none;
  color: black;
  padding: 1rem;
  border-radius: 2px;
  width: 15%;
  background-color: white;
}

.btn-wr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.edit-button {
  width: fit-content;
  background: none;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button > img {
  width: 2rem;
}

.back-button {
  width: fit-content;
  background: none;
  margin-right: 2rem;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
} 

.back-button > img {
  width: 3rem;
  transform: translateY(10%) scale(1.2);
}

.delete-button, .submit-button {
  border: none;
  width: fit-content;
  background: none;
}

.delete-button > img {
  width: 4rem;
  margin-inline: 2rem;
}

.submit-button > img {
  width: 4rem;
  transform: translateY(10%);
}

img {
  transition: 0.15s ease;
}

form img:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(1978%) hue-rotate(40deg) brightness(104%) contrast(99%);
}

.back-button img:hover{
  transform: scale(1.3) rotateZ(25deg);
}
.delete-button img:hover{
  transform: scale(1.3);
}
.submit-button img:hover{
  transform: scale(1.1);
}

.edit-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1700px) {
  .top-card-wr {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .edit-study {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
  .edit-institution {
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .edit-period {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  li {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .top-card-wr {
    width: 100%;
  }
  .description {
    padding: 0;
  }
  .edit-button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .title {
    font-size: 1.5rem;
  }
  .institution, .period {
    font-size: 1.25rem;
  }
  .description {
    font-size: 1.1rem;
  }
  .edit-icon {
    height: 1.5rem;
  }
  .addButton {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 860px) {
  .top-card-wr {
    flex-wrap: wrap;
  }
  .title {
    width: 100%;
  }
  .period, .title {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .addButton {
    width: 2rem;
    height: 2rem;
  }
  .edit-institution, .edit-period {
    font-size: 1.1rem;
  }
  .edit-study {
    font-size: 1.2rem;
  }
  .edit-description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .section-wr {
    width: 100%;
  }
  .institution {
    width: 100%;
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
  .period {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  h1 {
    justify-content: center;
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.25rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .addButton {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
  }
}



