<div class="row">
  <div class="col-lg-12">
    <h1>Proyectos</h1>
    <ul>
      <li>
        <div class="top-card-wr">
          <span class="title">(Titulo)</span>
          <span class="period">(Periodo)</span>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis aliquam blandit. Aliquam sit amet vulputate lorem, id laoreet lorem. Integer vitae hendrerit ipsum, in ornare nibh. Duis congue, risus id viverra congue, dui mauris ultricies arcu, vitae venenatis magna nunc nec tellus. Suspendisse ut mi cursus, gravida lacus sollicitudin</p>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-home-page.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-eoi-form.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-land-page-2.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-map-page.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
      </li>
      <li>
        <div class="top-card-wr">
          <span class="title">(Titulo)</span>
          <span class="period">(Periodo)</span>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis aliquam blandit. Aliquam sit amet vulputate lorem, id laoreet lorem. Integer vitae hendrerit ipsum, in ornare nibh. Duis congue, risus id viverra congue, dui mauris ultricies arcu, vitae venenatis magna nunc nec tellus. Suspendisse ut mi cursus, gravida lacus sollicitudin</p>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-home-page.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-eoi-form.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-land-page-2.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-map-page.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
      </li>
      <li>
        <div class="top-card-wr">
          <span class="title">(Titulo)</span>
          <span class="period">(Periodo)</span>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis aliquam blandit. Aliquam sit amet vulputate lorem, id laoreet lorem. Integer vitae hendrerit ipsum, in ornare nibh. Duis congue, risus id viverra congue, dui mauris ultricies arcu, vitae venenatis magna nunc nec tellus. Suspendisse ut mi cursus, gravida lacus sollicitudin</p>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-home-page.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-eoi-form.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-land-page-2.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <img src="../../../assets/lottrackr-map-page.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>