circle-progress {
  font-family: var(--titles-font);
  width: fit-content;
  height: fit-content;
}

h1 {
  font-family: var(--titles-font);
  font-weight: var(--titles-weight);
  font-family: var(--titles-font);
  display: flex;
  justify-content: center;
}

.addButton {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: none;
  border-radius: 2px;
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}

.edit-skill,
.edit-percentage {
  color: black;
  font-family: var(--titles-font);
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
  border: none;
  border-radius: 2px;
  margin-left: 0.5rem;
}

.submit-button {
  font-family: var(--titles-font);
  background: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: none;
  color: black;
  padding: 1rem;
  border-radius: 2px;
  width: 15%;
  background-color: white;
}

.top-card-wr {
  margin-left: 13%;
}

.btn-wr {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-left: 13%;
}

.edit-button {
  width: fit-content;
  background: none;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-left: 2rem;
}

.edit-button>img {
  width: 2rem;
}

.back-button {
  width: fit-content;
  background: none;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  margin-bottom: 2rem;
}

.back-button>img {
  width: 3rem;
  transform: translateY(10%) scale(1.2);
}

.delete-button,
.submit-button {
  border: none;
  width: fit-content;
  background: none;
}

.delete-button>img {
  width: 4rem;
  margin-inline: 2rem;
}

.submit-button>img {
  width: 4rem;
  transform: translateY(10%);
}

img {
  transition: 0.15s ease;
}

form img:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(1978%) hue-rotate(40deg) brightness(104%) contrast(99%);
}

.back-button img:hover {
  transform: scale(1.3) rotateZ(25deg);
}

.delete-button img:hover {
  transform: scale(1.3);
}

.submit-button img:hover {
  transform: scale(1.1);
}

.edit-button:hover {
  transform: scale(1.1);
}


.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 1200px) {
  .edit-skill {
    width: 90%;
  }

  .edit-percentage {
    width: 90%;
  }

  .edit-skill,
  .edit-percentage {
    margin-left: 0;
  }
}

@media screen and (max-width: 1050px) {
  .addButton {
    width: 2.5rem;
    height: 2.5rem;
  }

}


@media screen and (max-width: 990px) {
  .btn-wr {
    width: 100%;
    margin-left: -5%;
  }
}

@media screen and (max-width: 860px) {
  .addButton {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }

  h1 {
    font-size: 1.5rem;
  }

  .skill-circle-wr {
    width: 55%;
    margin: auto;
  }

  .addButton {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
  }

  .top-card-wr {
    width: 100%;
  }

  .btn-wr {
    transform: scale(0.8);
    float: left;
  }

  .edit-skill,
  .edit-percentage {
    width: 100%;
  }
}