<div class="container">
  <div class="row gx-5 gy-5">
    <h1>Soft & Hard Skills</h1>
    <div class="col col-sm-6 col-lg-4 skill-circle-wr">
      <circle-progress [percent]="85" [title]="'Javascript'" class="skill-circle"></circle-progress>
    </div>
    <div class="col col-md-6 col-lg-4 skill-circle-wr">
      <circle-progress [percent]="85" [title]="'Python'" class="skill-circle"></circle-progress>
    </div>
    <div class="col col-md-6 col-lg-4 skill-circle-wr">
      <circle-progress [percent]="85" [title]="'CSS'" class="skill-circle"></circle-progress>
    </div>
    <div class="col col-md-6 col-lg-4 skill-circle-wr">
      <circle-progress [percent]="85" [title]="'HTML'" class="skill-circle"></circle-progress>
    </div>
  </div>
</div>