.skill-circle-wr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-circle {
  font-family: var(--titles-font);
}

h1 {
  font-family: var(--titles-font);
  font-weight: var(--titles-weight);
  font-family: var(--titles-font);
  display: flex;
  justify-content: center;
}

/* NUEVO CODE */

.addButton {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: none;
  border-radius: 2px;
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}


.edit-skill,
.edit-percentage,
.edit-period {
  color: black;
  font-family: var(--titles-font);
  font-size: 1.5rem;
  font-weight: 500; 
  padding-left: 1rem;
  border: none;
  border-radius: 2px;
}

.submit-button {
  font-family: var(--titles-font);
  background: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: none;
  color: black;
  padding: 1rem;
  border-radius: 2px;
  width: 15%;
  background-color: white;
}

.btn-wr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.edit-button {
  width: fit-content;
  background: none;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: self-start;
  transform: translateX(-100%);
}

.edit-button > img {
  width: 2rem;
}

.back-button {
  width: fit-content;
  background: none;
  margin-right: 2rem;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
} 

.back-button > img {
  width: 3rem;
  transform: translateY(10%) scale(1.2);
}

.delete-button, .submit-button {
  border: none;
  width: fit-content;
  background: none;
}

.delete-button > img {
  width: 4rem;
  margin-inline: 2rem;
}

.submit-button > img {
  width: 4rem;
  transform: translateY(10%);
}

img {
  transition: 0.15s ease;
}

form img:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(1978%) hue-rotate(40deg) brightness(104%) contrast(99%);
}

.back-button img:hover{
  transform: scale(1.3) rotateZ(25deg);
}
.delete-button img:hover{
  transform: scale(1.3);
}
.submit-button img:hover{
  transform: scale(1.1);
}