<div class="row">
  <div class="col-lg-11">
    <h1>Experiencia Laboral</h1>
    <ul>
      <li>
        <div class="top-card-wr">
          <span class="company">(Empresa)</span>
          <span class="title">(Titulo)</span>
          <span class="period">(Periodo)</span>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis aliquam blandit. Aliquam sit amet vulputate lorem, id laoreet lorem. Integer vitae hendrerit ipsum, in ornare nibh. Duis congue, risus id viverra congue, dui mauris ultricies arcu, vitae venenatis magna nunc nec tellus. Suspendisse ut mi cursus, gravida lacus sollicitudin</p>
      </li>
      <li>
        <div class="top-card-wr">
          <span class="company">(Empresa)</span>
          <span class="title">(Titulo)</span>
          <span class="period">(Periodo)</span>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis aliquam blandit. Aliquam sit amet vulputate lorem, id laoreet lorem. Integer vitae hendrerit ipsum, in ornare nibh. Duis congue, risus id viverra congue, dui mauris ultricies arcu, vitae venenatis magna nunc nec tellus. Suspendisse ut mi cursus, gravida lacus sollicitudin, .</p>
      </li>
      <li>
        <div class="top-card-wr">
          <span class="company">(Empresa)</span>
          <span class="title">(Titulo)</span>
          <span class="period">(Periodo)</span>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis aliquam blandit. Aliquam sit amet vulputate lorem, id laoreet lorem. Integer vitae hendrerit ipsum, in ornare nibh. Duis congue, risus id viverra congue, dui mauris ultricies arcu, vitae venenatis magna nunc nec tellus. Suspendisse ut mi cursus, gravida lacus sollicitudin, .</p>
      </li>
    </ul>
  </div>
</div>